services:
  front:
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    restart: always

  back-end:
    build:
      context: ./back
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    restart: always

  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: devflow
      POSTGRES_PASSWORD: devflow123
      POSTGRES_DB: devflow_db
    ports:
      - "5432:5432"
    volumes:
      - ./back/init-db:/docker-entrypoint-initdb.d
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
